@charset "UTF-8";
/* CSS Document */
.navbar {
    border-radius: 0 !important;
}
body {
    overflow-x: hidden;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}