{% extends 'base.html' %}
{% block title %}NOTE EDIT{% endblock %}
{% block content %}
    <div class="container-fluid" style="background: #ecf0f1; margin-top: -20px;">
        <div class="jumbotron">
            <div class="container">
                <h2>Edit Note...</h2>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
    <div class="container">
        <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
    </div>
    </div>
{% endblock %}